// Place all the styles related to the income controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#incomes {
  float:left;
  clear:left;

  li {
    float:left;

    &:last-child {
      margin-left: 5px;
    }
  }


}

